<% page.posts.data.forEach((post, index) => { %>
    <div class="article-sort-item">
        <a class="article-sort-item-img" href="<%= url_for(post.path) %>" title="<%= post.title %>">
            <img src="<%= post.cover %>"
                alt="<%= post.title %>">
        </a>
        <div class="article-sort-item-info">
            <a class="article-sort-item-title" href="<%= url_for(post.path) %>" title="<%= post.title %>"
                onclick="window.event.cancelBubble=true;">
                <%= post.title %>(<%= recent_data(post.date) %>)
            </a>
            <div class="article-sort-item-tags">
                <% post.tags.data.forEach(tags => { %>
                    <a class="article-meta__tags" href="<%= url_for(tags.path) %>" onclick="window.event.cancelBubble=true;">
                        <span class="tags-punctuation">#</span>
                        <%= tags.name %>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
<% }); %>