<div class="recent-post-item" onclick="handAddViewPV('<%= moment(post.date).format(`YYYY-MM-DD HH:mm:ss`) %>', '<%= post.title %>', '/<%= post.path %>')">
    <div class="post_cover left_radius">
        <a href="<%= url_for(post.path) %>" title="<%= post.title %>">
            <img class="post_bg" alt="<%= post.title %>" src="<%= post.cover %>">
        </a>
    </div>
    <div class="recent-post-info">
        <div class="recent-post-info-top">
            <div class="recent-post-info-top-tips">
                <% post.tags.forEach(categories => { %>
                    <i class="small-circle"></i>
                    <span class="original"><%= categories.name %></span>
                <% }) %>
            </div>
            <a class="article-title" href="<%= url_for(post.path) %>" title="<%= post.title %>"><%= post.title %></a>
            <a href="<%= url_for(post.path) %>" class="article-profile multiline-ellipsis"><%= post.frofile %></a>
        </div>
        <div class="article-meta-wrap">
            <span class="post-meta-date">
                <i class="fa-regular fa-clock"></i>
                <!-- <span><%= relative_date(post.date) %></span> -->
                <span><%= recent_data(post.date) %></span>
            </span>
            <span class="post-meta-date">
                <i class="fa-solid fa-eye"></i>
                <span id="viewpv_<%= moment(post.date).format(`YYYY-MM-DD HH:mm:ss`) %><%= post.title %>"></span>
            </span>
        </div>
    </div>
</div>