<div id="footer_deal">
    <% for(const i in theme.footer.information.left){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.left[i].url) %>" rel="external nofollow" title="<%= i %>">
            <i class="<%= theme.footer.information.left[i].icon %>"></i>
        </a>
    <% } %>
    <% for(const i in theme.footer.information.right){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.right[i].url) %>" rel="external nofollow" title="<%= i %>">
            <i class="<%= theme.footer.information.right[i].icon %>"></i>
        </a>
    <% } %>
</div>    
<div id="heo-footer">
    <% for(const x in theme.footer.group){ %>
        <div class="footer-group">
            <h3 class="footer-title"><%= x %></h3>
            <div class="footer-links">
                <% for(const y in theme.footer.group[x]){ %>
                    <a class="footer-item" href="<%= url_for(theme.footer.group[x][y]) %>" title="<%= y %>" rel="noopener external nofollow noreferrer"><%= y %></a>
                <% } %>    
            </div>
        </div>
    <% } %>
    <% if(theme.footer.randomlink){ %>
        <div class="footer-group">
            <div class="footer-title-group">
                <h3 class="footer-title">友链</h3>
                <a class="random-friends-btn" href="javascript:randomLinksList();" rel="external nofollow">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </a>
            </div>
            <div class="footer-links" id="friend-links-in-footer">
            </div>
        </div>
    <% } %>
</div>
<div id="footer-section">
    <div class="footer-section-links">
        <div class="footer-section-left">
            <span>本站所有资源收集整理于互联网，本站不参与制作，用于互联网爱好者学习和研究，如不慎侵犯了您的权利，请及时联系站长处理删除。敬请谅解！</span>
            <span>侵权删帖/违法举报/投稿等联系邮箱：lvlv49307@gmail.com</span>
            <span class="copyright">Copyright ©<%= moment(theme.aside.siteinfo.runtime).year() %> - <%= new Date().getFullYear() %></span>
        </div>
    </div>
</div>